# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Django Database
# -----------------------------
db.sqlite3

# -----------------------------
# Collected Static Files
# -----------------------------
staticfiles/

# -----------------------------
# Uploaded Media (optional)
# -----------------------------
media/

# -----------------------------
# IDE Settings
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log